/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #272e33;
    background-alt: #3C474DFF;
    foreground:     #DAD1BEFF;
    selected:       #9da9a0;
    active:         #A7C080FF;
    urgent:         #E67E80FF;
}
