/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1d2021;
    background-alt: #353535FF;
    foreground:     #EBDBB2FF;
    selected:       #928374;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
