configuration{
    modi: "drun";
    icon-theme: "Papirus";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    hide-scrollbar: true;
    display-drun: "   ";
}

@theme "catppuccin-mocha"

