@import "mocha.css";

* {
  font-family: JetBrains Mono Nerd Font;
  font-size: 13px;
  font-weight: 700;
  min-height: 19px;
}

window#waybar {
  border-radius: 0px;
  border-bottom: 2px solid @surface2;
  /* border-left: 1px solid @surface2; */
  /* border-right: 1px solid @surface2; */

  background: @base0;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: @base;
}

tooltip label {
  color: white;
}

#clock,
#cpu,
#custom-spotify,
#custom-clipboard,
#language,
#window,
#memory,
#temperature,
#pulseaudio,
#wireplumber,
#tray {
  padding: 0 10px;
  color: @text;
}

#tray {
  padding: 0 15px 0 0;
}

#workspaces {
  padding: 0 5px;
}

#workspaces button {
  color: @overlay2;
}

#workspaces button.active {
  color: @pink;
}

#workspaces button:hover {
  color: @mauve;
}

#pulseaudio {
  color: @blue;
}

@keyframes blink {
  to {
    background-color: @mantle;
    color: @text;
  }
}

#custom-spotify {
  border-radius: 5px;
  background: @green;
  color: @base;
  padding: 0 5px;
  margin: 5px 0;
}

#clock {
}

#memory {
  color: @green;
}

#custom-clipboard {
  font-size: 20.5px;
  padding: 0 15px 0 10px;
  color: @blue;
}
#cpu {
  color: @teal;
}
#temperature {
  color: @yellow;
}
#language {
  color: @mauve;
}

#custom-launcher {
  font-size: 18px;
  padding: 0 7px 0 9px;
  color: @sky;
}

#custom-power {
  font-size: 17px;
  padding: 0 7px 0 15px;
  color: @red;
}
