@import "mocha.css";

* {
  font-family: JetBrains Mono Nerd Font;
  font-size: 13.5px;
  font-weight: 700;
  min-height: 11px;
}

window#waybar {
  border-radius: 5px;
  border: 1px solid @mauve;
  background: @base;
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background: @base;
}
tooltip label {
  color: white;
}

#clock,
#cpu,
#custom-player,
#custom-clipboard,
#language,
#window,
#memory,
#temperature,
#pulseaudio,
#wireplumber,
#workspaces,
#tray {
  padding: 0 7px;
  color: white;
}

#workspaces button {
  color: @white;
}

#workspaces button.active {
  background: rgba(255, 255, 255, 0.08);
}

#pulseaudio {
  color: @lavender;
}

@keyframes blink {
  to {
    background-color: @mantle;
    color: @text;
  }
}

#custom-spotify {
  color: @green;
  padding-right: 7px;
}

#clock {
  color: @mauve;
}

#memory {
  color: @green;
}

#custom-clipboard {
  font-size: 20.5px;
  padding: 0 15px 0 10px;
  color: @blue;
}
#cpu {
  color: @teal;
}
#temperature {
  color: @yellow;
}
#language {
  color: @blue;
}

#custom-launcher {
  font-size: 18px;
  padding: 0 7px 0 9px;
  color: @sky;
}

#custom-power {
  font-size: 17px;
  padding: 0 15px 0 5px;
  color: @red;
}
